
body{
    font-family: sysytem-ui,-apple-system,"Segoe UI",sans-serif;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 10px;
}

h1{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,td{
    border: 1px solid #ccc;
    padding:6px 8px;
    text-align: center;
}